@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@300;400;600&family=Syncopate&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    list-style: none;
    text-decoration: none;
}


:root {
    --main-color:  #189AB4;
    --background-color: #D4F1F4;
    --border-color: #05445E; 
    --checked-color: #A3EBB1;
    /*extra: #75E6DA*/
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--main-color);
}


.container {
    width: 680px;
    align-items: top;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
    border: var(--border-color) 3px solid;
    border-radius: 10px;
}
.container .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;
    color: var(--border-color);
}

.container .task-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
}

.task-form .task-input {
    flex: 1;
    padding: 1rem;
    border: none;
    outline: none;
    border: 2px solid var(--border-color);
    border-radius: 10px 0 0 10px;
    background: var(--background-color);
}

.task-form .task-input::placeholder {
    color: var(--border-color);
}

.task-form .task-add {
    padding: 1rem;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--border-color);
    border-left: none;
    background: var(--main-color);
    cursor: pointer;
    font-weight: 600;
    color: var(--background-color);
}

.container .task-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
}

.task-list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--background-color);
    padding: 0.5rem 1rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.item .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.task i {
    color: var(--main-color);
}

.task-name {
    font-weight: 600;
}

.item i {
    cursor: pointer;
}

.todo .task-remove-all {
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-weight: 400;
    background: var(--main-color);
    color: var(--background-color);
    border: var(--border-color) 2px solid;
}

